/* HeroVsVillain.css */

/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #141e30, #243b55);
  color: #7490d1;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.comic-container {
  text-align: center;
  padding: 50px 0;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.comic-title {
  font-size: 3em;
  text-shadow: 2px 2px 4px #000;
  animation: neon 1.5s ease-in-out infinite alternate;
}

.comic-subtitle, .comic-instructions {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.comic-button, .comic-clear-button {
  background-color: #007bff;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 10px;
}

.comic-button:hover, .comic-clear-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.comic-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 20px;
}

.comic-card img {
  border-radius: 10px 10px 0 0;
}

.comic-card-content {
  padding: 20px;
}

.comic-card-title {
  font-size: 1.5em;
  color: #ffeb3b;
}

.comic-card-text {
  font-size: 1em;
  color: #fff;
}

.winner-modal {
  position: 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  width: 400;
  background-color: '#fff';
  border: '2px solid #000';
  box-shadow: 24;
  
}








