/* home.css */

/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background: #1a1a1a;
  color: #3f6dec;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  text-align: center;
  padding: 50px 0;
  background: #2a2a2a;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
  transform: scale(1.02);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.title {
  font-size: 3em;
  color: #ffeb3b;
  text-shadow: 2px 2px 4px #000;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #dddddd;
}

.button {
  background-color: #ff9800;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 10px;
}

.button:hover {
  background-color: #e67e22;
  transform: scale(1.1);
}

.card {
  background: #333333;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.card img {
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 20px;
}

.moving-background {
  background: linear-gradient(to right, #1a1a1a, #2a2a2a);
  background-size: 200% 200%;
  animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #333;
  color: #101010;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the text */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}



  